body{
    background: #f0f0f0;
}
#all-container{
    margin-top:70px;
}
ul.tabs{
    text-align: center;
}
#learn-tab,#draw-tab{
    padding: 30px 20px;
}
#learn-tab{
    background-color:#00b8d4 ;
}
#draw-tab {
    background-color: #4a148c;
}

#canv{
    border:1px solid #000;
    cursor: pointer;
}

#emojis{
    background: #fff;
    height: 250px;
}

#emojis-list li{
    display: inline-block;
}

#submit-btn{
    display: block;
    margin:0 auto;
    width:130px;
}

.disabled-emoji{
    filter: grayscale(100%);
}
