body{
    background: #f0f0f0;
}
#all-container{
    margin-top:40px;
}
ul.tabs{
    text-align: center;
}
#learn-tab,#draw-tab{
    padding: 30px 20px;
    margin-top: -2px;
}
#learn-tab{
    background-color:#fff ;
}
#draw-tab {
}

#canv{
    cursor: pointer;
    background: url("../images/grid.png");
    background-size: contain;
}

#emojis{
    background: #f9f9f9;
    height: 250px;
}

#emojis-list li{
    display: inline-block;
    transition:all 0.2s;
}
#emojis-list li:hover{
    transform: scale(1.1);
}

#submit-btn{
    display: block;
    margin:0 auto;
    width:130px;
}

.disabled-emoji{
    filter: grayscale(100%);
}
